{% extends 'main.html' %} 
{% load static %}
{% block content%}
{% load crispy_forms_tags %}
<style>
  #messages_error{
    position: fixed;
    top: 85vh;
    right: 32px;
    background-color: #e14d45;
    color: #fff;
    padding: 10px;
    margin-top: 25px;
    text-align: center;
    border-radius: 0.25rem 0 0 0.25rem !important;
    animation: slideInLeft ease .3s, fadeOut linear 1s 3s forwards;
  }

    #messages_success{
      position: fixed;
      top: 80vh;
      right: 32px;
      background-color: #2ecc71;
      color: #fff;
      padding: 10px;
      margin-top: 25px;
      text-align: center;
      border-radius: 0.25rem 0 0 0.25rem !important;
      animation: slideInLeft ease .3s, fadeOut linear 1s 3s forwards;
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(calc(100% + 320px%))
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
</style>
<div class="container-fluid text-center"><h2>THÊM SÁCH</h2></div>
</br>
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row justify-content-center">
    <div class="col-6">

      <div class="row">
        <div class="col-6">{{form.name|as_crispy_field}}</div>
        <div class="col-6">{{form.author|as_crispy_field}}</div>
      </div>

      <div class="row">
        <div class="col-12">{{form.description|as_crispy_field}}</div>
      </div>

      <div class="row">
        <div class="col-6">{{form.release_date|as_crispy_field}}</div>
        <div class="col-6">{{form.number_of_pages|as_crispy_field}}</div>
      </div>

      <div class="row">
        <div class="col-6">{{form.category|as_crispy_field}}</div>
      </div>

      {% comment %} <input class="btn btn-secondary" type="button" value="Bỏ" />
      <input class="btn btn-primary" type="submit" value="Lưu" /> {% endcomment %}
    </div>

    <div class="col-4">
      <div class="row justify-content-center">
        <div class="col-9 justify-content-center" onchange="readURL(this);">
          {{form.image|as_crispy_field}}
          
          {% if book.image %}
            <img
              id="blah"
              src="{{book.image.url}}"
              style="width: 450px"
              alt="Ảnh bìa của sách"
            />
          {% endif %}

          {% if not book.image %}
            <img
              id="blah"
              src="#"
              style="width: 450px"
              alt="Ảnh bìa của sách"
            />
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  
  </br>
  </br>
  </br>

  <hr>
  
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-1"></div>
        <input class="btn btn-primary col-2" type="submit" value="Thêm" />
        <div class="col-5"></div>
      </div>
    </div>
  </div>
</form>
{% for message in messages %}
    {% if message.tags == 'error' %}
    <p id='messages_error'>{{message}}</p>
    {% else %}
    <p id='messages_success'>{{message}}</p>
    {% endif %}
{% endfor %}
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $("#blah").attr("src", e.target.result).width(450);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
{%endblock %}
