{% extends 'main.html' %} {% block content%}



<div class="container-fluid text-center"><h2>KHÔI PHỤC MẬT KHẨU</h2></div>

</br>

<div class="d-flex justify-content-center form_container">
    <form method="POST" action="">
        {% csrf_token %}
        
        <div class="form-col">
            <div class="form-group">
                <label for="exampleInputPassword1">Nhập mậu khẩu mới:</label>
                <input type="password" class="form-control">
                <small class="form-text text-muted">Mật khẩu phải nhiều hơn 8 ký tự.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword2">Nhập lại mậu khẩu:</label>
                <input type="password" class="form-control">
              </div>
        </div>

        <div class="d-flex justify-content-center mt-3 login_container">
            <input class="btn btn-primary" type="submit" value="Khôi phục">
        </div>
    </form>

    {% for message in messages %}
        {% if message.tags == 'error' %}
        <p id='messages_error'>{{message}}</p>
        {% else %}
        <p id='messages_success'>{{message}}</p>
        {% endif %}
    {% endfor %}
</div>


{% endblock %}
